.venv/
__pycache__/
*.pyc
*.pyo

data/raw/
data/processed/

models/ner/final/
models/sentiment/final/

*.egg-info/
multilingual_ner_and_sentiment_analysis_system.egg-info/
build/
dist/

.env

wandb/

.vscode/
.idea/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

*.log